
# --- Environment & Secrets ---
*.env

# --- Python ---
# Virtual Environments
venv/


# Byte-compiled / optimized / cache files
*/__pycache__/

# Dependencies
*/node_modules/

# Build outputs
*/dist/
*/build/
out/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- IDEs & Editors ---
.vscode/*

# Other files
/Server/test_*
Painpoints.txt
Context.md